{
 "extends": ["standard", "standard-react"],
 "rules":
   {
     "comma-dangle": [2, "always-multiline"],
     "no-unused-vars": [2, {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "vars": "all"
      }]
   }
}
