[core]
  editor =vim
	excludesfile = /Users/patrickmoody/.gitignore_global

[color]
  branch = auto
  diff   = auto

  status = auto

[color "branch"]
  current = yellow reverse

  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow 
  frag = magenta

  old  = red
  new  = green

[color "status"]

  added     = green
  changed   = yellow 
  untracked = cyan


[merge]
  tool = opendiff


[repack]
  usedeltabaseoffset = true


[alias]
  st   = status -sb
  lg   = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --graph --abbrev-commit --date=relative  

  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short


[push]
	default = tracking
[user]
	name = patmood
	email = patrick.n.moody@gmail.com
[git-pair]
	authors = William Chan <will@verdigristech.com>
	authors = Patrick Moody <patrick@verdigris.co>
